* { box-sizing: border-box }
body { height: 100vh }

#openirc
  height: 100%

  display: flex

// Channel list tab
#channels
  width: 10%
  background: #f2

#channel-list
  width: 100%

  margin: 0
  padding: 1em

  display: flex
  flex-direction: column

  list-style-type: none

.channel-item
  margin 0.5em 0

  display: flex
  justify-content: space-between

.channel-selected
  font-weight: bold

#new-channel-form
  width: 100%

  display: flex

#new-channel-text, #new-channel-submit
  background: none
  border: none
  outline: none

#new-channel-text
  width 70%

#new-channel-submit
  width 30%

// Current channel tab
#current-channel
  width: 90%

  display: flex
  flex-direction: column

#logs
  margin: 0
  padding: 10px

  flex: 1 1 auto
  overflow-y: auto
  min-height: 0px

  list-style-type: none

#new-line-form
  background: #e2e2e2
  padding: 15px

  display: flex
  align-items: center

#new-line-label
  margin-right: 7px

#new-line-text
  flex: 1 1 auto

#new-line-text, #new-line-submit
  background: none
  border: none
  outline: none
