body
  background-color: #f5f5f5
  min-height: 100vh

  display: flex
  align-items: center
  justify-content: center

#main
  color: #444
  unit-size = 200px

  .counter
    display: inline-block
    width: unit-size * 2
    font-size: unit-size
    text-align: center

  button
    width: unit-size
    height: unit-size
    font-size: unit-size
    border-radius: 100%
    padding: 0
    border: none
    outline: 0
