* { box-sizing: border-box }
body { height: 100vh }

#libreirc
  height: 100%

  display: flex

// buffer list tab
#buffer-lists
  width: 10%
  background: #f2

.buffer-list
  width: 100%

  margin: 0
  padding: 1em

  display: flex
  flex-direction: column

  list-style-type: none

.buffer-item
  margin 0.5em 0

  display: flex
  justify-content: space-between

.buffer-selected
  font-weight: bold

#new-buffer-form
  width: 100%

  display: flex

#new-buffer-text, #new-buffer-submit
  background: none
  border: none
  outline: none

#new-buffer-text
  width 70%

#new-buffer-submit
  width 30%

// Current buffer tab
#current-buffer
  width: 90%

  display: flex
  flex-direction: column

#current-buffer-info
  background: #e2
  padding: 4px

  width: 100%

#logs
  margin: 0
  padding: 10px

  flex: 1 1 auto
  overflow-y: auto
  min-height: 0px

  list-style-type: none

#new-line-form
  background: #e2e2e2
  padding: 15px

  display: flex
  align-items: center

#new-line-label
  margin-right: 7px

#new-line-text
  flex: 1 1 auto

#new-line-text, #new-line-submit
  background: none
  border: none
  outline: none
